.button {
  padding: 17px 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: max-content;
  cursor: pointer;

  color: var(--color-black);
  font: 500 normal 18px/110% 'Roboto';

  &_theme_gold {
    background-color: var(--bg-gold);
    transition: var(--transition);
    &:hover {
      background-color: #bf9d12;
    }
  }

  &_theme_dark {
    background: linear-gradient(70deg, #515151 8.92%, #000 48.98%, #624E00 91.61%);
    color: white;
    transition: var(--transition);
    &:hover {
      color: #a8a8a8;
      background: linear-gradient(70deg, #333333 8.92%, #000 48.98%, #514101 91.61%);
    }
  }
}