.header {
  height: 100px;
  background-color: var(--bg-gray);
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 102px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__navigation {
    display: flex;
    column-gap: 50px;
  }

  &__src {
    color: var(--color-grey);
    font: 400 normal 18px/110% Roboto;
    transition: var(--transition);
    &:hover {
      color: var(--color-white);
    }
  }

  &__user-content {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  &__user-name {
    color: #F1D151;
    font: 400 normal 16px / 135% Roboto;
  }

  &__basket {
    position: relative;
    &__counter {
      position: absolute;
      width: auto;
      min-width: 18px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      background-color: #F1D151;
      padding: 3px;
      border-radius: 50%;
      font: 400 normal 13px/135% Roboto;
      top: -10px;
      right: -35px;
    }
  }
}